{% extends 'base.html' %}
{% block titulo %} Home {% endblock %}
{% block cabecera %} <h1>Home</h1><span>Bienvenido</span> <strong> {{usuario.username}}</strong> {% endblock %}

{% block contenido %} 
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/usuarios/"><span class="icon group icon-4x"></span>
		<h2>Usuarios</h2>
		</a>
	</div>
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/plan-contable/"><span class="icon book icon-4x"></span>
		<h2>Plan Contable</h2></a>
	</div>
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/periodos/">
		<span class="icon book icon-4x"></span>
		<h2>Periodo</h2>
		</a>
	</div>
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/transacciones/">
		<span class="icon book icon-4x"></span>
		<h2>Transacción</h2>
		</a>
	</div>
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/libro-diario/">
		<span class="icon book icon-4x"></span>
		<h2>Libro Diario</h2>
		</a>
	</div>
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/libro-mayor/">
		<span class="icon book icon-4x"></span>
		<h2>Libro Mayor</h2>
		</a>
	</div>
	<div class="column_4 text center bck color radius padding margin-top margin-bottom">
		<a href="/cierre-y-apertura/">
		<span class="icon book icon-4x"></span>
		<h2>Cierre y Aperura de cuentas</h2>
		</a>
	</div>
	
	
{% endblock %}