<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" href="{{STATIC_URL}}components/Tuktuk/tuktuk.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}components/Tuktuk/tuktuk.icons.css" />
	<link rel="stylesheet" href="{{STATIC_URL}}components/Tuktuk/tuktuk.theme.css" />
</head>
<body>
	<header class="bck theme">
		<div class="row">
			<div class="column_12 text center">
				<h1>Login</h1>
			</div>
		</div>
	</header>
	<section>
		<div class="row margin-top margin-bottom">
			<div class="column_4 offset_4 radius bck color text center padding-right padding-top padding-bottom">
				<form action="#">
					<fieldset>
						<label for="user">Usuario: </label>
						<input type="text" id="user"/>
					</fieldset>
					<fieldset>
						<label for="password">Contraseña: </label>
						<input type="password"  id="password"/>
					</fieldset>
					<button class="button"> Login </button>
				</form>
			</div>
		</div>
	</section>
	<footer class="bck dark text center">
		2013 Contables
	</footer>
</body>
</html>