{% extends 'base.html' %}
{% block titulo %} Login {% endblock %}
{% block cabecera %} <h1> Login </h1> {% endblock %}
{% block contenido %} 
			{% if formulario.errors %}
				<p>Your username and password didn't match. Please try again.</p>
			{% endif %}

			<div class="column_4 offset_4 radius bck color text center padding-right padding-top padding-bottom">
				<form action="" method='post' >
					{% csrf_token %}
					<fieldset>
						{{ formulario.username.label_tag }}
						{{ formulario.username }}
					</fieldset>
					<fieldset>
						{{ formulario.password.label_tag }}
						{{ formulario.password }}
					</fieldset>
					<button class="button"> Login </button>
				</form>
			</div>
{% endblock %}