{% extends 'base.html' %}
{% block titulo %} 
Listado de usuarios
{% endblock %}
{% block cabecera %} 
	<h1>Home</h1>
	<span>Bienvenido</span> 
	<strong> {{usuario.username}}</strong> 
{% endblock %}
{% block contenido %} 
<div class="column_8">
	<table>
		<tr>
			<th>Número</th>
			<th>Usuario</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Fecha de Creaciòn</th>
			<th>Acciones</th>
		</tr>
		{% for user in usuarios %}
			<tr>
				<td>{{ forloop.counter}} </td>
				<td>{{ user.username }}</td>
				<td>{{ user.first_name }} {{ user.last_name }} </td>
				<td>{{ user.email }}</td>
				<td>{{user.date_joined}}</td>
				<td>
					<a href="?userSelect={{ user.id }}"><span class="icon pencil"></span> </a>
					<a href="?userSelect={{ user.id }}"><span class="icon remove-sign"></span> </a>
				</td>
			</tr>
		{% endfor %}
		
	</table>
</div>
<div class="column_4">
	<h2>Crear Usuario</h2>
	<form action="" method="post">
		{% csrf_token %}
		{{ userForm }}
		<button class="button">Registrar Usuario</button>
	</form>
</div>
<div class="column_4">
	<h2>
		
	</h2>
	<form action="" method="post">
		{% csrf_token %}
		{%for field in editUserForm %}
			{% if field.html_name == 'username' %}
				{{ field.label_tag }}
					<input type="text" name="{{ field.html_name }}" value="{{userSelected.username}} " />
			{% elif field.html_name == 'email' %}
				{{ field.label_tag }}
					<input type="text" name="{{ field.html_name }}" value="{{userSelected.email}} " />
			{% elif field.html_name == 'first_name' %}
				{{ field.label_tag }}
					<input type="text" name="{{ field.html_name }}" value="{{userSelected.first_name}} " />
			{% elif field.html_name == 'last_name' %}
				{{ field.label_tag }}
					<input type="text" name="{{ field.html_name }}" value="{{userSelected.last_name}} " />
			{% elif field.html_name == 'date_joined' %}
				{{ field.label_tag }}
					<input type="text" name="{{ field.html_name }}" value="{{userSelected.date_joined}} " />
			{% elif field.html_name == 'last_login' %}
				{{ field.label_tag }}
					<input type="text" name="{{ field.html_name }}" value="{{userSelected.last_login}} " />
			
			{% elif field.html_name == 'is_superuser' %}
				{{ field.label_tag }}
					<input type="checkbox" name="{{ field.html_name }}" {% if userSelected.is_superuser%} checked {% endif%} /><br/>
			{% elif field.html_name == 'is_staff' %}
				{{ field.label_tag }}
					<input type="checkbox" name="{{ field.html_name }}" {% if userSelected.is_staff%} checked {% endif%}  /><br/>
			{% elif field.html_name == 'is_active' %}
				{{ field.label_tag }}
					<input type="checkbox" name="{{ field.html_name }}" {% if userSelected.is_active%} checked {% endif%} /><br/>

			{%endif%}
			

		{%endfor%}
		<button class="button">Registrar Usuario</button>
	</form>
</div>

{% endblock %}
     