{% extends 'base.html' %}
{% block titulo %} 
Listado de usuarios
{% endblock %}
{% block cabecera %} 
	<h1>Home</h1>
	<span>Bienvenido</span> 
	<strong> {{usuario.username}}</strong> 
{% endblock %}
{% block contenido %} 
<div class="column_8">
	<table>
		<tr>
			<th>Número</th>
			<th>Usuario</th>
			<th>Nombre</th>
			<th>Email</th>
			<th>Fecha de Creaciòn</th>
			<th>Acciones</th>
		</tr>
		{% for user in usuarios %}
			<tr>
				<td></td>
				<td>{{ user.username }}</td>
				<td>{{ user.first_name }} {{ user.last_name }} </td>
				<td>{{ user.email }}</td>
				<td>{{user.date_joined}}</td>
				<td>
					<a href="#"><span class="icon pencil"></span> </a>
					<a href="#"><span class="icon remove-sign"></span> </a>
				</td>
			</tr>
		{% endfor %}
		
	</table>
</div>
{% endblock %}
